@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
:root[data-theme="light"] {
  --text: #030005;
  --background: #f1dcfe;
  --primary: #a21efa;
  --secondary: #d69bfd;
  --accent: #7a04c8;
  --accent-opacity-50: #7a04c850;

  --primary-shade-50: #510f7d;
}
:root[data-theme="dark"] {
  --text: #fdfaff;
  --background: #160123;
  --primary: #8905e1;
  --secondary: #3d0264;
  --accent: #ad37fb;
  --accent-opacity-50: #ad37fb50;

  --primary-shade-50: #510f7d;
}

body {
  color: var(--text);
  background-color: var(--background);
}
svg {
  color: var(--text);
}
